.container-fluid {
    background-image: url('/assets/cabecerafondo.jpg'); /* Ajusta la ruta de la imagen */
    background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 70px;
      position: fixed; /* Fija la cabecera en la parte superior */
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 1000;
  }
    .header-bar {
      background-color: rgb(218, 196, 150);
      height: 25px; /* Ajusta la altura de la barra */
      position: fixed;
      top: 70px; /* Ajusta esta posición según la altura de la cabecera */
      left: 0;
      right: 0;
      z-index: 998; /* Asegura que la barra esté justo debajo de la cabecera */
      margin: 0;
    } 