.container-fluid {
    background-image: url('/assets/cabecerafondo.jpg'); /* Ajusta la ruta de la imagen */
    background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 70px;
      position: fixed; /* Fija la cabecera en la parte superior */
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 1000;
  }
    .header-bar {
      background-color: rgb(218, 196, 150);
      height: 25px; /* Ajusta la altura de la barra */
      position: fixed;
      top: 70px; /* Ajusta esta posición según la altura de la cabecera */
      left: 0;
      right: 0;
      z-index: 998; /* Asegura que la barra esté justo debajo de la cabecera */
      margin: 0;
    } 

    body {
      background-image: url('/assets/indexfondo.jpg');
      margin: 0;
      padding: 0;
      height: 100vh;
      background-repeat: no-repeat;
      overflow-x: hidden;
      background-size: cover; /* Hace que la imagen cubra toda la pantalla */
      margin-top: 8rem; /* Aumenta el margen superior para más separación */

    }
    
  .container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 23px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    animation: resize .5s; /* Animación de cambio de tamaño */
  }

  @keyframes resize {
    0% {
      transform: scale(1);
    }
    30% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  h1 {
      color: #343a40;
  }

  .btn-primary {
      background-color: #000000;
      border-color:rgb(218, 196, 150);
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      
  }
  .btn-primary:hover {
      background-color:rgb(218, 196, 150);
      border-color: #000000;
  }
  .card {
      border: 1px solid #dee2e6;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }

  @keyframes fadeIn {
    from { 
      opacity: 0; 
      transform: translateY(-20px); 
    }
    to { 
      opacity: 5; 
      transform: translateY(0); 
    }
  }