.container-fluid {
  background-image: url('/assets/cabecerafondo.jpg'); /* Ajusta la ruta de la imagen */
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 70px;
    position: fixed; /* Fija la cabecera en la parte superior */
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}

.container-fluid a {
  text-decoration: none;
  color: #ffffff; /* Color del texto */
  font-size: 15px;
  padding: 10px 16px;
  font-family: 'Roboto';
  
}

.container-fluid a:hover{
  color: rgb(218, 196, 150); /* Color del texto al pasar el ratón */

}

.logout-link {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  font-size: 14px;
  padding: 8px 16px;
}

.header-bar {
    background-color: rgb(218, 196, 150);
    height: 25px; /* Ajusta la altura de la barra */
    position: fixed;
    top: 70px; /* Ajusta esta posición según la altura de la cabecera */
    left: 0;
    right: 0;
    z-index: 998; /* Asegura que la barra esté justo debajo de la cabecera */
    margin: 0;
  } 

  body{
    margin-top: 5rem; /* Aumenta el margen superior para más separación */
  }